
<!-- Confirmation Dialog -->
<dialog id="my_modal_2" class="modal">
  <div class="modal-box">
    <div class="text-center">
      <div class="text-green-500">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-10 w-10 mx-auto"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7"
          />
        </svg>
      </div>
      <h3 class="font-bold text-lg mt-4">Thanks for your support!</h3>
      <p class="py-4 text-gray-600">
        Your pledge brings us one step closer to sharing Mastercraft Bamboo
        Monitor Riser worldwide. You will get an email once our campaign is
        completed.
      </p>
      <!-- Bouton pour fermer le modal -->
      <button
        class="btn bg-green-500 text-white mt-4"
        onclick="document.getElementById('my_modal_2').close()"
      >
        Got it!
      </button>
    </div>
  </div>
</dialog>
