<section class="md:bg-[url('/images/image-hero-desktop.jpg')] bg-[url('/images/image-hero-mobile.jpg')] bg-cover bg-center h-96">
    <nav class="flex justify-between pt-8 mx-auto container text-white">
        <p class="font-bold text-xl">crowdfund</p>
        <ul class="flex gap-5">
            <li class="cursor-pointer"><a href="#about">About</a></li>
            <li class="cursor-pointer"><a href="#discover">Discover</a></li>
            <li class="cursor-pointer"><a href="#get-started"  onclick="my_modal_3.showModal()">Get Started</a></li>
        </ul>
    </nav>
</section>
