<dialog id="my_modal_3" class="modal">
  <div class="modal-box  ">
  
   <section class="mx-auto container flex flex-col justify-center px-4 max-w-lg">
  <!-- Header Section -->
  <div class="flex  ">

    <div class="text-left mb-8">
    <h2 class="font-bold text-xl">Back this project</h2>
    <p class="text-sm text-gray-600 mt-2">Want to support us in bringing Mastercraft Bamboo Monitor Riser out in the world?</p>
  </div>
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost  ">✕</button>
    </form>
  </div>
 

  <!-- Form Section -->
  <form #donationForm="ngForm" (ngSubmit)="onSubmit(donationForm)" action="" class="max-w-lg mx-auto space-y-5">
    @for(item of pledgeOptions; track item) {
      <div class="border border-gray-200 rounded-xl py-5 shadow-md">
        <div class="px-6 ">
          <div class="flex md:items-center md:flex-row flex-col justify-between mb-4">
            <!-- Left Section: Radio Button and Title -->
            <div class="flex  flex-row   md:items-center ">
               <input 
              (click)="onRadioChange(item.id)" 
              class="mr-2 cursor-pointer" 
              type="radio" 
              id="radio-{{item.id}}" 
              name="amount" 
              required 
              value="{{item.id}}"
            />
          
            <label 
              for="radio-{{item.id}}" 
              class="cursor-pointer font-bold md:text-lg text-sm "
            >{{item.title}}</label>
              <p class="text-xs text-[#3ed8b0] font-medium md:ml-2">{{item.pledge}}</p>
            </div>

            @if(item.price !== null) {
              <div class="flex items-center">
                <p class="text-lg font-bold">{{ item.price }}</p>
                <span class="text-gray-400 text-sm font-medium ml-1">left</span>
              </div>
            }
          </div>
          
          <p class="  text-sm text-gray-600">{{item.description}}</p>
        </div>

  
      @if(selectedAmount === item.id) {
  <hr class="my-4 border-t-1 border-gray-300" />
  <div class="px-6">
    <div class="flex justify-between items-center gap-3">
      <p class="text-sm">Enter your pledge</p>
      <div class="flex gap-3">
        <!-- Input Section -->
        <div class="flex items-center gap-1">
          <div class="flex items-center border border-gray-300 rounded-full">
            <span class="p-1 text-gray-700">$</span>
            <input 
                      type="number" 
                      [(ngModel)]="enteredAmount" 
                      name="amountInput" 
                      [value]="item.amountPlans" 
                      [min]="item.amountPlans" 
                      max="10000" 
                      class="p-3 border-0 rounded-full" 
                      required 
                    />
                  </div>
                </div>
                <button 
                  (click)="addToTotal()" 
                  type="button" 
                  class="bg-[#3ed8b0] text-white p-3 rounded-full font-semibold"
                >
                  Continue
                </button>
      </div>
    </div>
  </div>
}
      </div>
    }
 
    
  </form>
</section>


  </div>
</dialog>
