<div class="bg-white border rounded-lg items-center p-6 mt-7 mx-auto h-auto py-8 ">
  <ul class="flex justify-between items-center divide-x divide-gray-300">
    <li class="px-4 flex flex-col items-center">
      <p class="font-[700] text-3xl">$89,914</p>
      <p class="text-gray-500">of $100,000 backed</p>
    </li>
    <li class="px-4 flex flex-col tex items-center">
      <p class="font-[700] text-3xl">5,007</p>
      <p class="text-gray-500">total backers</p>
    </li>
    <li class="px-4 flex flex-col items-center text-left">
      <p class="font-[700] text-3xl">56</p>
      <p class="text-gray-500">days left</p>
    </li>
  </ul>
  <!-- Barre de progression -->
  <div class=" w-full mt-10 bg-gray-200 rounded-full h-3">
    <div class="bg-[#3ed8b0] h-3 rounded-full" style="width:10%;">
 
    </div>
   
  </div>
</div>
